*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}
:root{
    --main-color:#fdfdfd;
    --color-blule:#336363;
    --color-green:#98df3b;
    --color-gray:#f3f0e4;
}
body{
    background-color: var(--main-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.h1-large{
    font-size: 450%;
}
small{
    font-size: 88% !important;
}
.mt-6{
 margin-top: 7%;
}
.round-25{
    border-radius: 25px;
}
.round-25-top{
    border-radius: 25px 25px 0 0;
}
.round25-bl{
    border-radius: 0 0 0 25px;
}
.bg-blue{
    background-color: var(--color-blule);
}
.bg-gray{
    background-color: var(--color-gray);
}
.text-gray{
    color: var(--color-gray);
}
.text-green{
    color: var(--color-green);
}
.bg-green{
    background-color: var(--color-green);
}
.line-h{
    line-height: 0.8;
}
.opacity{
    opacity: 0.5;
}
.py-6{
padding-top: 6%;
padding-bottom:6% ;
}
.my-6{
margin-top: 6%;
margin-bottom: 6%;
}
.me-6{
    margin-right: 6%;
}
.svg-header{
    background-color: var(--color-blule);
    width: 22px;
    height: 22px;
}
.active{
    color: var(--color-green) !important;
    text-decoration:underline;
}
.svg-nav{
    height: 3%;
}
.h1{
    line-height: 1;
    font-weight: 520;
    font-size: 300%;
}
.text-date{
    letter-spacing: 4px;
    font-size: 70% !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img-cut{
    clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
}
.cut-top-l{
    clip-path: polygon(13% 0, 100% 0, 100% 20%, 100% 100%, 91% 100%, 20% 100%, 0 100%, 0 9%);
}
.cut-b-r{
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 93%, 88% 100%, 20% 100%, 0 100%, 0 9%);
}
.cut-t-l{
    clip-path: polygon(12% 0, 86% 0, 100% 16%, 100% 100%, 88% 100%, 20% 100%, 0 100%, 0 0);
}
img{
    object-fit: cover; 
}

.text-circle{
    width: 100% ;
    height: 100%;
    position: absolute;
   
}
.bg-circle{
    border-radius: 50%;
    background-color: var(--color-blule);
    position: absolute;
    top: 3%;
    right: 3%;
    width: 111px;
    height: 111px;
}
.text-circle span{
    position: absolute;
    top: 1%;
    left: 50%;
    font-size: 0.70rem;
    font-weight: 550;
    transform-origin: 0 55px;
    word-spacing: 10px;
}
.coreText{
    top: 35%;
    right: 32%;
    z-index: 80;
}
.bg-icon{
    width: 23px;
    height:  23px;
    border-radius: 50%;
    background-color: var(--color-green);
}
.box-bg-circle{
    width: 120px;
    height: 120px;
    background-color: var(--main-color);
    position: absolute;
    top: -4%;
    right: 0%;
    border-radius: 50%;
}
.img-dubble-cut{
    clip-path: polygon(0 0, 71% 0, 100% 26%, 100% 100%, 80% 100%, 24% 100%, 0 76%, 0% 20%);

}


.font{
    font-family:cursive;
    font-style: italic;
    font-weight: 600;
}
.text-img{
    bottom: 3%;
    
    position: absolute;
    color: var(--color-gray);
}
.text-img small{
 
   border: 2px solid var(--color-gray);
   border-radius: 25px;
   backdrop-filter: blur(8px);
}
.b-round-img{
    border: 5px solid white;
}
.card-cut{
    clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);

}
.cut-dubble-reverse{
    clip-path: polygon(16% 0, 80% 0%, 100% 0, 100% 84%, 86% 100%, 20% 100%, 0 100%, 0 14%);
}
.cut-dubble{
    clip-path: polygon(9% 0, 100% 0, 100% 20%, 100% 89%, 91% 100%, 20% 100%, 0 100%, 0 10%);

}
.align-icon-img{
   top: 40%;
    left: 8%;
    z-index: 5;
}
.card-cut{
    height: 200px;
}
.border-green{
    border-bottom: 4px solid var(--color-green) !important;
}
.border-green .text-green:hover {
    color: var(--color-green) !important;
  
}
.btn:focus{
    box-shadow: none;
}
.text-p{
  padding-right:12% ;
    font-size: 85%;
    border-left: 5px solid #fff;
}
.icon-box{

    position: relative;
    top: -20px;
    width:80px;
    height: 80px;
    background-color: var(--color-blule);
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box hr{
    display: inline;
    width: 20% !important;
}
.counter{
    position: absolute;
    right: -16%;
    width: 30px;
    height: 30px;
    background-color: var(--color-green);
    border-radius: 50%;
    border: 2px solid var(--main-color);
    color: #fff;
}
#text-img{
bottom: 4%;
left: 4%;
}
#text-img small{
    backdrop-filter: blur(5px);
    color: white;
}
a.text-green:hover{
    color: var(--color-green) !important;
}
.circle{
    width: 65px ;
    height: 65px;
}
.circle-small{
    width: 30px;
    height: 30px;
}
.top1{
    top: -10%;
   left: 34%;
}
.top2{
    top: -10%;
    left: 22%;
}
.top3{
    top: -10%;
    left: 11%;
}
.top4{
    top: -10px;
    left: 19%;

}
.form input, .form textarea {
    border: none;
    background-color: rgba(255, 255, 255, 0.226) !important;
    color: white;
    resize: none;
}
 .form ::placeholder {
    color: #ffffff !important; /* Change the color to a desired value */
    font-size: small;
    opacity: 0.6 !important;
}
li #line{
    line-height: 0.3 !important;
}
.position  {
    bottom: 4%;
  left: 27%;
    
}
.opject{
    object-fit:inherit;
}
.width{
    width: 31% !important;
}

.text-box{
    top: -30px;
    background-color: var(--color-green);
    color: var(--color-gray);
    border-radius: 25px;
    border: 2px solid var(--color-gray);
}
.w{
    width: 280px;
}
.w:focus-visible{
    outline: none !important;
}
.line{
    line-height:1.2 !important;
}
.bg{

    background-color: rgba(255, 255, 255, 0.267) !important;
}
.bg:focus{
    box-shadow: none !important;
}
.bg::placeholder{
    color: white !important;
    opacity: 0.6;
}
.b-r-end{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}






@media (min-width:1200px){
    .h1-large {
        font-size: 400%;
    }
    .mt-6 {
        margin-top: 5%;
    }
    p{
        font-size: 90% !important;
    }
    #align {
      top: 0 !important;
      right: 1%;
        width: 110px;
        height: 110px;
            margin-right: -12%;
    }
   
    
    small{
        font-size: 80% !important;
    }
    .img-xl{
        height: 470px;
    }
    .box-bg-circle {
        width: 110px;
        height: 110px;
    }
    .text-img {
        bottom: 5%;}
    .bg-circle {
        width: 101px;
        height: 101px;
    }
    .text-circle span {
        transform-origin: 0 49px;
    }
    .coreText {
        top: 32%;
        right: 30%;
    }
    #align2 svg{
        width: 50px;
    }
 
    .img-lg2{
        height: 300px;
    }
   
}

@media (max-width:992px){  
    .svg-md{
        width: 15px;
        height: 15px;
    }
    .img-s{
        width: 230px;
    }
    .h5{
        font-size: 1rem;
    }
    .img-xl{
        height: 440px;
        width: 100%;
    }
    .h1{
        font-size: 220%;
    }
    .h-lg{
        font-size: 1.5rem !important;
    }
    .img-lg{
        height: 350px;
    }
    .font-lg{
        font-size: 15px;
    }
    .small-lg{
        font-size: 70% !important;
    }
    .svg-lg{
        width: 25px;
    }
    .svg-lg-larg{
        width: 35px;
    }
    .line-h {
        line-height: 0.4;
    }
   .img-lg2{
    width: 330px;
    height: 430px;
   }
   .img-lg-card {
    height: 150px;
   }
   .btn{
    font-size: 0.75rem;
   }
   .h6 {
    font-size: 0.75rem;
    }
    .icon-box{
        width: 60px;
        height: 60px;
    }
    .counter {
        position: absolute;
        right: -21%;
        width: 25px;
        height: 25px;
        font-size: 14px;
    }
    .mt-6 {
        margin-top: 3%;
    }
    .img-lg-3{
        height: 280px;
    }
    .svg-lgg{
        width: 15px;
    }
    hr{
        margin: 0.5rem 0 !important;
    }
    ul{
        margin-bottom:0.3rem;
    }
    .img{
        width: 100%;
        height: 300px;
    }
    .top1{
        left: 50%;
    }
    .top2{
        left: 32%;
    }
    .top3{
        left: 17%;
    }
    .top4{
        left: 29%;
    }
    .img-3-lg{
        height: 200px;
        object-fit: cover;
    }
    .h1-large {
        font-size: 300%;
    }
    p{
        font-size: 83% !important;
    }
    .circle-small {
        width: 25px;
        height: 25px;
      }
       .none-lg{
        display: none !important;
    }
    .w {
        width: 200px;
      }
}
@media (max-width:768px){
    .h-lg {
        font-size: 1.25rem !important;
      }
    .img-lg2 {
        width: 100%;
      }
      p{
        font-size: 90% !important;
      }
      .img-lg-card {
        height: 200px;
      }
      .h-md{
            font-size: 160%;
      }
      .text-date-md{
        font-size: 50% !important;
      }
      .small-lg{
        font-size: 80% !important;
      }
      .cut-top-l , .cut-b-r{
        clip-path: none;
      }
     
      .top1 {
        top: -10%;
        left: 34%;
      } 
       .top2 {
        top: -10%;
        left: 22%;
      }
      .top3 {
        top: -10%;
        left: 11%;
      }
      .top4 {
        top: -10px;
        left: 19%;
      }
      .img-3-lg{
        height: 250px;
      }
      .width{
        width: 70% !important;
      }
       .btn{
        font-size: 0.80rem !important;
      }
      .svg-md{
        width: 15px;
      }
      .img-s{
        width: 100%;
        height: 200px;
      }
      
}
@media (max-width:575px){
    .row {
        padding-right: 6% !important;
        padding-left: 6% !important;
    }
   #row{
    margin-left: 6% !important;
    margin-right: 6% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
   }
   .p-sm{
    padding-left: 0% !important;
    padding-right: 0% !important;
   }
    .h-md {
        font-size: 120%;
      }
      .img-lg-3 {
        height: 210px;
      }
      .img-lg {
        height: 280px;
      }
      .img-xl {
        height: 380px;
    }
    .img {
        height: 260px;
      }
      .img-3-lg {
        height: 210px;
      }
      .btn {
        font-size: 0.6rem !important;
      }
    .f-sm{
        font-size: 1.5rem !important;
    }
    .h1 {
        font-size: 180%;
      }
      .h-lg {
        font-size: 1rem !important;
      }
}
@media (max-width:468px){
    .h1 {
        font-size: 150%;
      }
      button{
        font-size: 12px;
      }
      .btn {
        font-size: 0.5rem !important;
      }
    .small-sm{
        font-size: 12px;
    }
    .img-lg-card {
        height: 180px;
      }
      .h-md {
        font-size: 100%;
      }
      .img {
        height: 210px;
      }
      .svg-lg-larg {
        width: 25px;
      }
      h6{
        font-size: .80rem;
      }
    h1{
        font-size: 1.25rem;
    }
    p {
        font-size: 70% !important;
      }
      .h-lg {
        font-size: 0.75rem !important;
      }
      .btn-sm{
        font-size: 0.2rem !important;
      }
      small{
        font-size: 72% !important;
      }
    
    .img-xl {
        height: 280px;
      }
      .text-date-md {
        font-size: 30% !important;
      }
      .icon-box {
        width: 30px;
        height: 30px;
        top: -5px;}
        .img-lg-3 {
            height: 180px;
          }
          .small, small {
            font-size: .75em;
          }
          .h5, h5 {
            font-size: 1rem;
          }
          .img-3-lg {
            height: 180px;
          }
          .h1-large {
            font-size: 250%;
          }
          .font-lg {
            font-size: 12px;
          }
          .img-s {
            width: 100%;
            height: 180px;
          }
          .fs-6 {
            font-size: 0.75rem !important;
          }
          .w-sm{
            width: 15px;
          }
          .text-date{
            font-size: 30% !important;
          }
          .w {
            width: 150px !important;
            font-size: x-small !important;
          }
           
          .circle-small {
            width: 20px;
            height: 20px;
          }
          .svg-md {
            width: 12px;
          }
      .text-p {
        border-left: 2px solid #fff;}
      .svg-lg {
        width: 18px;
      }
    .img-lg {
        height: 230px;
      }
      .small-lg {
        font-size: 70% !important;
      }
      .bg-icon{
        width: 18px;
        height: 18px;
      }
      .bg-icon svg{
        width: 25px;
      }
     h4{
        font-size:medium;
     }
     .f-sm {
        font-size: 1rem !important;
      }
}
@media (max-width:404px){
    .h1{
        font-size: 130%;
    }
    .h-md {
        font-size: 90%;
      }
      .small, small {
        font-size: .6em;
      }
      .h1 {
        font-size: 110%;
      }
      .h5, h5 {
        font-size: 0.75rem;
      }
}